* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header a {
  font-size: 16px;
  text-decoration: none;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

header h1 {
  font-size: 16px;
  font-weight: lighter;
}

#pre-game {
  text-align: center;
}

#pre-game h2 {
  padding-top: 20px;
}

#pre-game p {
  padding: 20px 0;
}

.btn {
  background-color: #008080;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  text-align: start;
}

.btn:hover {
  background-color: #800000;
  cursor: pointer;
}

.btn-layout {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

#the-game {
  display: grid;
  grid-template-columns: .5fr;
  justify-content: center;
  margin: 5px;
  padding: 20px;
}

#questions {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#choices {
  padding-bottom: 15px;
}

#post-game h3 {
  font-size: 24px;
}

#post-game p {
  font-size: 20px;;
  padding: 20px 0;
}

#post-game label {
  font-size: 20px;
}

#post-game input {
  font-size: 20px;
  height: 24px;
  padding: 5px;
  width: 150px;
}

#post-game input:focus {
  border: 1px solid black;
}

h4 {
  font-size: 20px;
  font-style: italic;
  padding: 10px 10px;
  border-top: 1px solid black;
}