* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header a {
  font-size: 16px;
  text-decoration: none;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

header h1 {
  font-size: 16px;
  font-weight: lighter;
}

#pre-game {
  text-align: center;
}

#pre-game h2 {
  padding-top: 20px;
}

#pre-game p {
  padding: 20px 0;
}

.btn {
  background-color: blue;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
  text-align: start;
}

.btn:hover {
  background-color: orange;
  cursor: pointer;
}

.hide {
  display: none
}

#the-game {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#questions {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}